{
    "schnack_host": "https://schnack.example.com",
    "page_url": "https://blog.example.com/posts/%SLUG%",
    "database": {
        "comments": "comments.db",
        "sessions": "sessions.db"
    },
    "port": 3000,
    "admins": [1],
    "oauth": {
        "secret": "1jz3n70ofkaf41njr2a5c3zsdxtzdbkqk",
        "github": {
            "client_id": "uttyq8d4phkuc688hhn6",
            "client_secret": "1vul6ftftzqyzmrj17u10vjcwkcw3ai661yxzlw3"
        },
        "cognito": {
            "userPoolId": "us-west-1_n6l2wkypenflznehfi99",
            "region": "us-west-1",
            "clientId": "xf1bj8m9ilnges31ex9sckhgb",
            "credentials": {
                "accessKeyId": "P4V3QB2AQ6XVPM2T3KA2",
                "secretAccessKey": "mc30fwqm4e836hh6b7mklo2pezjt0062z9hfwzk3"
            }
        }
    },
    "notify": {
        "webpush": {
            "vapid_public_key": "M0e2BGI5kCGsAL0XUylg3dQxYHQKDlSOGZitTkgZJOe0L_vMvwJo7Iy8K5T7N5Q0OZZku8yGmNsS5MlrtMBDZRQ",
            "vapid_private_key": "5U4aur3voOXd_QpOjGegCrxHiMqVHKxqAe5of9G4aH3"
        },
        "slack": {
            "webhook_url": "https://hooks.slack.com/services/N2TUTL8XL/2IXQYF1O0/NIbUXyoL7TFDo49XkiiTGYY4"
        }
    },
    "date_format": "DD MM YYYY - h:mm a"
}
