<% if (data.user) { %>
    <% if (data.user.admin) { %>
    <div class="schnack-settings">
        <button class="btn btn-primary" id="schnack-push" name="schnack-push">
            Enable Push Messaging
        </button>
        <button class="schnack-action" data-target="notification" data-class="setting" data-action="true">un</button>
        <button class="schnack-action" data-target="notification" data-class="setting" data-action="false">mute notifications</button>
    </div>
    <% } %>
<div class="schnack-form">
    <textarea class="schnack-body" placeholder="Post a comment. Markdown is supported!"></textarea>
    <blockquote class="schnack-body" style="display:none"></blockquote>
    <br>
    <button class="schnack-preview">Preview</button>
    <button style="display:none" class="schnack-write">Edit</button>&nbsp;
    <button class="schnack-button">Send comment</button><br>
    (signed in as <span class="schnack-user">@<%= data.user.name %></span> :: <a class="schnack-signout" href="#">sign out</a>)
</div>
<% } else { %>
To post a comment you need to sign in via<br>
<% data.auth.forEach((provider, i) => {  %>
    <%= i ? ' or ' : '' %><button class="schnack-signin-<%= provider.id %>"><%= provider.name %></button>
<% }) %>
<% } %>
<ul class="schnack-comments">
    <% data.comments.forEach((comment) => { %>
        <li class="schnack-comment<% if (!comment.approved && !comment.trusted) { %> schnack-not-approved<% } %>">
            <div class="schnack-dateline">
                <span class="schnack-author"><% if (comment.author_url) { %><a href="<%= comment.author_url %>" target="_blank"><% } %><%= comment.display_name || comment.name %><% if (comment.author_url) { %></a><% } %></span>
                <span class="schnack-date"><%= comment.created_at_s %>:</span>
                <% if (data.user && data.user.admin &&!comment.trusted) {
                ['trust', 'block'].forEach((action) => { %>
                <button class="schnack-action" data-target="<%= comment.user_id %>" data-class="user" data-action="<%= action %>"><%= action %></button>
                <% }); } %>
            </div>
            <blockquote class="schnack-body">
                <%= comment.comment %>
            </blockquote>
            <% if (!comment.approved && !comment.trusted) { %>
            <div class="schnack-awaiting-approval">
                This comment is still waiting for <%= data.user.admin ? 'your ' : '' %>approval<%= !data.user.admin ? ' by the site owner' : ''%>.
                <% if (data.user && data.user.admin) {
                ['approve', 'reject'].forEach((action) => { %>
                <button class="schnack-action" data-target="<%= comment.id %>" data-class="comment" data-action="<%= action %>"><%= action %></button>
                <% }); } %>
            </div>
            <% } %>
        </li>
    <% }) %>
</ul>
