<% if (data.user) { %>
    <% if (data.user.admin) { %>
    <div class="schnack-settings">
        <button class="schnack-action" data-target="notification" data-class="setting" data-action="true">un</button>
        <button class="schnack-action" data-target="notification" data-class="setting" data-action="false">mute notifications</button>
    </div>
    <% } %>
<div class="schnack-above">
    <div class="schnack-form">
        <textarea class="schnack-body" placeholder="Post a comment. Markdown is supported!"></textarea>
        <blockquote class="schnack-body" style="display:none"></blockquote>
        <br>
        <button class="schnack-preview">Preview</button>
        <button style="display:none" class="schnack-write">Edit</button>&nbsp;
        <button class="schnack-button">Send comment</button>&nbsp;
        <button class="schnack-cancel-reply" style="display:none">Cancel</button>
    </div>
</div>
(signed in as <span class="schnack-user">@<%= data.user.name %></span> :: <a class="schnack-signout" href="#">sign out</a>)

<% } else { %>
To post a comment you need to sign in via<br>
<% data.auth.forEach((provider, i) => {  %>
    <%= i ? ' or ' : '' %><button class="schnack-signin-<%= provider.id %>"><i class="icon schnack-icon-<%= provider.id %>"></i> <%= provider.name %></button>
<% }) %>
<% } %>
<%
const comments = [];
data.replies = {};
data.comments.forEach((comment) => {
    if (comment.reply_to) {
        if (!data.replies[comment.reply_to]) data.replies[comment.reply_to] = [];
        data.replies[comment.reply_to].push(comment);
    } else {
        comments.push(comment);
    }
});
data.comments = comments;
%>
<%= data.comments_tpl(data) %>
<style type="text/css">
.schnack-action > * { pointer-events: none; }
</style>