/* roboto-regular - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('../font/roboto-v18-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Roboto'), local('Roboto-Regular'),
       url('../font/roboto-v18-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../font/roboto-v18-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../font/roboto-v18-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../font/roboto-v18-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../font/roboto-v18-latin-regular.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-700 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url('../font/roboto-v18-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Roboto Bold'), local('Roboto-Bold'),
       url('../font/roboto-v18-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../font/roboto-v18-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../font/roboto-v18-latin-700.woff') format('woff'), /* Modern Browsers */
       url('../font/roboto-v18-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../font/roboto-v18-latin-700.svg#Roboto') format('svg'); /* Legacy iOS */
}
* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
}

body {
  color: #222;
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  font-size: 1em;
}

a {
  text-decoration: none;
}

table {
  border-collapse: collapse;
  width: 100%;
  table-layout: fixed;
}

table td {
  overflow: auto;
}

.main{
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  padding: 1.5em 0;
}

header h1 {
  margin: 0;
  font-size: 3.25em;
  line-height: 1;
}

header h1 span {
  color: #FFB962;
}

header p {
  margin: 0;
  font-size: 1.2em;
  color: #555;
}

aside {
  display: none;
}

.nav__item {
  display: block;
  color: #222;
  font-size: 0.95em;
}

.nav__item:hover {
  color: #FFB962
}

.nav__item-1:first-child {
  margin-top: 0;
}

.nav__item-1 {
  font-weight: 700;
  border-bottom: 2px solid #FFB962;
  margin: 1em 0 .5em;
}

.nav__item-2 {
  margin-top: .2em;
  color: #555;
}

.docs {
  width: 100%;
  padding: 0 .85em;
}

.docs code {
  background-color: #f5f2f0;
  padding: .1em .25em;
}

.docs ul {
  padding-left: 20px;
}

.docs p a,
.docs table a,
.docs ul a {
  color: #222;
  border-bottom: 1px solid #FFB962;
}

.content h1 {
  margin-top: 2rem;
  font-size: 1.7em;
}

.content h1:first-child {
  margin-top: 1rem;
}

.content h2 {
  margin-top: 1rem;
}

.docs h1 a {
  color: #222;
  border-bottom: 3px solid #FFB962;
  width: 100%;
  display: block;
}

.docs h2 a,
.docs h3 a {
  color: #222;
}

.docs code[class*=language-],
.docs pre[class*=language-] {
  font-size: 0.91em;
}

.docs thead {
  text-align: left;
  border-bottom: 1px solid #eee;
}

.docs td, .docs th {
  padding: .25em .5em;
  min-height: 45px;
}

.docs tbody tr:nth-child(even) {
  background-color: #f5f2f0;
}

.docs tbody tr td:first-child,
.docs code {
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  font-size: 0.91em;
}

.github-corner svg {
  fill:#FFB962;
  color:#fff;
  position: absolute;
  top: 0;
  border: 0;
  right: 0;
}

.github-corner:hover .octo-arm {
  animation:octocat-wave 560ms ease-in-out;
}

@keyframes octocat-wave {
  0%, 100%{
    transform:rotate(0);
  }
  20%,60%{
    transform:rotate(-25deg);
  }
  40%,80%{
    transform:rotate(10deg);
  }
}

.schnack-form {
  font-size: 15px;
}

.schnack-form textarea{
  width: 100%;
  font-family: 'Roboto', sans-serif;
  color: #555;
  font-size: 14px;
  padding: .25em .5em;
  margin: 1em 0 .5em 0;
  border: 1px solid #b0b0b0;
  border-radius: 1px;
  min-height: 100px;
}

.schnack-form button,
.schnack-reply,
.schnack-signin-twitter,
.schnack-signin-github,
.schnack-signin-google {
  background: #FFB962;
  color: #fff;
  font-size: 15px;
  padding: .5em 1em;
  border: none;
  border-radius: 2px;
  line-height: 1;
  cursor: pointer;
}

.schnack-reply,
.schnack-signin-twitter,
.schnack-signin-github,
.schnack-signin-google {
  font-size: 12px;
}

.schnack-form button:hover,
.schnack-reply:hover,
.schnack-signin-twitter:hover,
.schnack-signin-github:hover,
.schnack-signin-google:hover {
  box-shadow: 0 0 2px 1px rgba(0,0,0,.125)
}

.schack-login-status {
  margin: .5em 0 0 0;
  font-size 12px;
  color: #555;
}

.schack-login-status a {
  color: #222;
  border-bottom: 1px solid #FFB962;
}

.schnack-comment {
  border-top: 2px solid #FFB962;
  padding: 1em;
}

.schnack-comments .schnack-comments .schnack-comment {
  border-top: 1px solid #e0e0e0;
  padding-right: 0;
}

.schnack-dateline a {
  border-bottom: none;
}

blockquote.schnack-body {
  margin: 0;
  font-size: 15px;
}

ul.schnack-comments {
  list-style: none;
  padding-left: 0;
  margin-top: 2em;
}

.schnack-dateline {
  line-height: 1.1;
}

.schnack-author {
  display: block;
  font-weight: 700;
}

.schnack-date {
  font-size: 12px;
}

.docs .schnack-dateline a {
  border: none;
}

@media (max-width:500px) {
  .github-corner:hover .octo-arm {
    animation:none
  }

  .github-corner .octo-arm {
    animation:octocat-wave 560ms ease-in-out
  }
}

@media screen and (min-width: 768px) {
  aside {
    display: block;
    width: 25%;
    min-width: 25%;
    max-width: 300px;
    padding: 0 1em;
  }

  aside img {
    width: 100%;
  }

  .docs {
    padding-right: 1em;
  }

  .content h1 {
    margin-top: 4rem;
  }

  .content h1:first-child {
    margin-top: 2rem;
  }

  .content h2 {
    margin-top: 2rem;
  }

  .github-corner svg {
    width: 70px;
    height: 70px;
  }
}