<% if (data.user) { %>
<div class="schnack-form">
    <textarea class="schnack-body"></textarea><br>
    <button class="schnack-button">Send comment</button>
</div>
<% } else { %>
<button class="schnack-login-twitter">Login with Twitter to post comment</button>
<% } %>
<ul class="schnack-comments">
    <% data.comments.forEach((comment) => { %>
        <li class="schnack-comment">
            <div class="schnack-author">
                <%= comment.name %> <span class="schnack-date"><%= comment.created_at_s %></span>
            </div>
            <blockquote class="schnack-body">
                <p><%= comment.comment %></p>
            </blockquote>
        </li>
    <% }) %>
</ul>