<% if (data.user) { %>
<div class="schnack-form">
    <textarea class="schnack-body"></textarea><br>
    <button class="schnack-button">Send comment</button>
    (signed in as <span class="schnack-user">@<%= data.user.name %></span>)
</div>
<% } else { %>
<button class="schnack-signin-twitter">Login with Twitter to post comment</button>
<% } %>
<ul class="schnack-comments">
    <% data.comments.forEach((comment) => { %>
        <li class="schnack-comment<% if (!comment.approved) { %> schnack-not-approved<% } %>">
            <div class="schnack-dateline">
                <span class="schnack-author"><%= comment.name %></span>
                <span class="schnack-date"><%= comment.created_at_s %>:</span>
            </div>
            <blockquote class="schnack-body">
                <p><%= comment.comment %></p>
            </blockquote>
            <% if (!comment.approved) { %>
            <div class="schnack-awaiting-approval">
                This comment is still waiting for <%= data.user.admin ? 'your ' : '' %>approval<%= !data.user.admin ? ' by the site owner' : ''%>.
                <% if (data.user.admin) {
                ['approve', 'reject'].forEach((action) => { %>
                <button class="schnack-action" data-target="<%= comment.id %>" data-class="comment" data-action="<%= action %>"><%= action %></button>
                <% }); } %>
            </div>
            <% } %>
        </li>
    <% }) %>
</ul>